* {box-sizing: border-box}

body{
    font-family: "Comic Sans MS";
    background-color: #e2eaff;
    color: #101623dd;
}

body, div, ul, nav, header, footer, a, li, label {
    margin: 0;
    padding: 0;
}